.container {
    display: flex;
    justify-content: center;
}

.item {
    border-bottom: 2px double darkblue;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 40vw;
    align-items: center;
}

.item p {
    font-size: 1.5rem;
}

@keyframes strike {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.strike {
    position: relative;
}
.strike::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    animation-name: strike;
    animation-duration: 0.55s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
